@page
@model WebRazor.Pages.CartModel
@{
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PetPath HTML</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

    <script defer src="/js/main.js"></script>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- preloader -->
    @Html.Partial("PageCommon/PreLoad")
    @Html.Partial("PageCommon/PageHeader")
    @Html.Partial("PageCommon/PageSearchForm")

    <!-- main start -->
    <main>

        <!-- inner hero section start -->
        <section class="inner-hero-section pt-xxl-0 pt-md-15 pt-20 pt-120 bg-primary2" style="padding: 50px 100px 0px 100px;">
            <div class="container position-relative" style="padding: 50px 100px 0px 100px;">
                <div class="row g-6 justify-content-between align-items-center">
                    <div class="col-sm-6">
                        <span class="mb-3 text-h1 text-n20">Cart</span>
                    </div>
                    <div class="col-xl-5 col-sm-6 me-auto d-none d-sm-block">
                        <div class="reveal-bottom inner-hero-banner text-center d-flex justify-content-center align-items-center"
                             style="width: 500px; height: 300px; margin: 0 auto;">
                            <img class="img-fluid" style="max-width: 80%; max-height: 80%; object-fit: contain;"
                                 src="/images/inner-hero-banner.png" alt="inner hero banner">
                        </div>
                    </div>
                </div>
                <div class="pows position-absolute top-60 right-n10 translate-middle-y z-n1 d-none d-sm-block">
                    <img class="w-100" src="/images/pows.png" alt="pow">
                </div>
            </div>
        </section>
        <!-- inner hero section end -->
        <!-- cart section start -->
        <section class="cart-section pt-120 pb-120" style="padding: 50px 100px 50px 100px;">
            <div class="container">
                <div class="pb-lg-20 pb-15">
                    <div class="cart-wrapper table-responsive mb-lg-10 mb-md-8 mb-6">
                        <table class="cart-table table common-table">
                            <thead>
                                <tr class="bg-primary2 border n20-1-border radius-8">
                                    <th class="p-xxl-6 p-lg-4 p-2">Product</th>
                                    <th class="p-xxl-6 p-lg-4 p-2 text-center">Price</th>
                                    <th class="p-xxl-6 p-lg-4 p-2 text-center">Quantity</th>
                                    <th class="p-xxl-6 p-lg-4 p-2 text-center">Subtotal</th>
                                    <th class="p-xxl-6 p-lg-4 p-2 text-center w-100px">Remove</th>
                                </tr>
                            </thead>
                            <tbody id="cartList">
                            </tbody>
                        </table>


                    </div>
                </div>

                <p id="emptyCartMessage" class="text-center mt-4 text-muted">
                    🛒 Giỏ hàng của bạn đang trống.
                </p>
                <!-- <div class="pt-md-10">
                    <form method="post" asp-page-handler="CreatePaymentLink">
                        <span class="text-h1 fw-normal font-otomanopee mb-lg-8 mb-md-6 mb-4">Cart totals</span>
                        <ul class="cart-totals-list d-grid gap-lg-8 gap-md-6 gap-4 mb-lg-8 mb-md-6 mb-4">
                            <li class="border-bottom n20-1-border pb-lg-6 pb-4">
                                <span class="d-flex align-items-center justify-content-between text-n20 fw-medium font-instrument w-xl-20 w-lg-40 w-md-60">
                                    <span>Title</span>
                                    <span class="order-name">Thanh Toán đơn Hàng của @Model.Users.Name</span>
                                    <input type="hidden" value="Thanh Toán đơn Hàng của @Model.Users.Name" name="orderName">
                                </span>
                            </li>
                            <li class="border-bottom n20-1-border pb-lg-6 pb-4">
                                <span class="d-flex align-items-center justify-content-between text-n20 fw-medium font-instrument w-xl-20 w-lg-40 w-md-60">
                                    <span>Total</span>
                                    <span id="totalSubtotalDisplay" class="total-price">0</span>
                                    <input type="hidden" id="totalSubtotalInput" value="0" name="totalPrice">
                                </span>
                            </li>
                            <li class="border-bottom n20-1-border pb-lg-6 pb-4">
                                <span class="d-flex align-items-center justify-content-between text-n20 fw-medium font-instrument w-xl-20 w-lg-40 w-md-60">
                                    <span>Description</span>
                                    <span class="description-text">Thanh toán</span>
                                    <input type="hidden" value="Thanh toán" name="description">
                                </span>
                            </li>
                        </ul>
                        <button type="submit" class="btn btn-primary">Pay Product</button>
                    </form>
                </div>-->

            </div>
        </section>
        <!-- cart section end -->

    </main>
    <!-- main end -->
    <!-- footer -->
    <!-- footer section start -->
    @Html.Partial("PageCommon/PageFooter")
    <!-- footer section end -->
    @section Scripts {
        <script src="~/js/cart.js" asp-append-version="true"></script>
    }
</body>
