@page
@model LoginModel
@{
	ViewData["Title"] = "Login";
}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PetPath HTML</title>
	<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

	<script defer src="/js/main.js"></script>
	<link href="/css/style.css" rel="stylesheet">
</head>

<body>
@Html.Partial("PageCommon/PreLoad")
@Html.Partial("PageCommon/PageHeader")
@Html.Partial("PageCommon/PageSearchForm")

<main>
	<section class="choose-us-section pt-120 pb-120" style="padding: 50px 100px 0px 100px;">
		<div class="container">
			<div class="row justify-content-center mb-lg-15 mb-md-10 mb-8 position-relative">
				<div class="col-xl-6 col-lg-8 text-center px-lg-0">
					<span class="d-block text-primary text-uppercase mb-lg-4 mb-3">LOGIN</span>
					<h2 class="text-h1 text-center font-otomanopee text-n20 fw-normal">Sign in to your account</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6">
					

					<form method="post">
						<div class="form-group">
							<label asp-for="Input.Email"></label>
							<input asp-for="Input.Email" class="form-control"/>
							<span asp-validation-for="Input.Email" class="text-danger"></span>
						</div>
						<div class="form-group my-4">
							<label asp-for="Input.Password"></label>
							<input asp-for="Input.Password" class="form-control"/>
							<span asp-validation-for="Input.Password" class="text-danger"></span>
						</div>

						<div class="d-flex justify-content-center align-items-center mt-2 text-muted">
							<span class="me-1">You don't have an account</span>
							<a href="/Shared/System/Users/Create" class="text-primary fw-bold text-decoration-none">Create account?</a>
						</div>

						<button type="submit" class="btn btn-primary my-4">Login</button>

						@if (Model.ErrorMessage != null)
						{
							<div class="text-danger">@Model.ErrorMessage</div>
						}
					</form>
				</div>
			</div>
		</div>
	</section>

</main>

@Html.Partial("PageCommon/PageFooter")

</body>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
