@page
@model WebRazor.Pages.ShopModel
@{
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PetPath HTML</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

    <script defer src="/js/main.js"></script>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    @Html.Partial("PageCommon/PreLoad")
    @Html.Partial("PageCommon/PageHeader")
    @Html.Partial("PageCommon/PageSearchForm")

    <!-- main start -->
    <main>

        <!-- inner hero section start -->
        <section class="inner-hero-section pt-xxl-0 pt-md-15 pt-20 pt-120 bg-primary2" style="padding: 50px 100px 0px 100px;">
            <div class="container position-relative" style="padding: 50px 100px 0px 100px;">
                <div class="row g-6 justify-content-between align-items-center">
                    <div class="col-sm-6">
                        <span class="mb-3 text-h1 text-n20">Shop</span>
                        <ul class="breadcrumb d-inline-flex align-items-center justify-content-center gap-lg-2 gap-1">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active"><a href="#">Shop</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-5 col-sm-6 me-auto d-none d-sm-block">
                        <div class="reveal-bottom inner-hero-banner text-center d-flex justify-content-center align-items-center"
                             style="width: 500px; height: 300px; margin: 0 auto;">
                            <img class="img-fluid" style="max-width: 80%; max-height: 80%; object-fit: contain;"
                                 src="/images/inner-hero-banner.png" alt="inner hero banner">
                        </div>
                    </div>
                </div>
                <div class="pows position-absolute top-60 right-n10 translate-middle-y z-n1 d-none d-sm-block">
                    <img class="w-100" src="/images/pows.png" alt="pow">
                </div>
            </div>
        </section>
        <!-- inner hero section end -->
        <!--shop section start -->
        <section class="shop-section pt-120 pb-120 overflow-visible" style="padding: 50px 100px 50px 100px;">
            <div class="container position-relative">
                <div class="row g-6">
                    <div class="col-lg-9">
                        <div class="showing-result d-flex align-items-center justify-content-between flex-wrap gap-4 mb-lg-8 mb-6">
                            <span class="text-base fw-normal font-instrument text-n10">Showing 1-12 of 24 results</span>

                            <div class="d-flex align-items-center gap-2">
                                <div class="sort-type-wrapper py-2 px-4 radius-pill bg-primary2 position-relative">
                                    <select id="sort-type" class="w-100 bg-transparent p-0">
                                        <option value="default">Default Sorting</option>
                                        <option value="newest">Newest</option>
                                        <option value="oldest">Oldest</option>
                                        <option value="high-low">High - Low</option>
                                        <option value="low-high">Low - High</option>
                                    </select>
                                </div>
                                <div>
                                    <button class="shop-sidebar-btn d-lg-none btn-primary" type="button">Filter</button>
                                </div>
                            </div>
                        </div>

                        <!-- product list start -->
                        <div class="row g-6 mb-lg-10 mb-md-8 mb-6">
                            <div class="row">
                                @foreach (var product in Model.PagedProducts.Items)
                                {
                                    <div class="col-md-4 col-xs-6">
                                        <div style="width: 100%; height: 100%" class="product-card border n20-1-border radius-16 overflow-hidden hover-primary-border">
                                            <div style="height:60%" class="product-thumb scale-animation position-relative">
                                                <img class="w-100" src="@Url.Content(product.FilePath)" alt="@product.ProductName">
                                                <span class="seal-tag py-1 px-lg-4 px-2 bg-primary text-n0 radius-pill position-absolute top-0 left-0 mt-lg-6 mt-4 ms-lg-6 ms-4">Sale!</span>
                                                <div class="product-btns d-grid gap-1 position-absolute top-0 right-0 mt-xxl-6 mt-4 me-xxl-6 me-4">
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        <button class="cart-btn icon-40px bg-n0 text-primary text-xl hover-text-secondary"
                                                                onclick="handleClickAddToCart({ ProductId: '@product.ProductId', ProductName: '@product.ProductName', Price: @product.Price, Quantity: 1 })">
                                                            <i class="ph-fill ph-shopping-cart"></i>
                                                        </button>
                                                    }
                                                </div>
                                            </div>
                                            <div class="product-info p-lg-6 p-4 text-center">
                                                <a href="@Url.Page("/Shop-details", new { id = product.ProductId })"
                                                   class="text-h6 text-n20 font-otomanopee fw-normal hover-text-primary hover-underline mb-2">
                                                    @product.ProductName
                                                </a>
                                                <span class="text-primary font-instrument fw-semibold">
                                                    $@product.Price
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <!-- pagination -->
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center gap-lg-5 gap-3">
                                <!-- Previous Button -->
                                <li class="pagination-item @(Model.PagedProducts.CurrentPage == 1 ? "disabled" : "")">
                                    <a class="pagination-link" asp-page="./Shop" asp-route-pageIndex="@(Model.PagedProducts.CurrentPage - 1)">
                                        <i class="ph ph-arrow-left"></i>
                                    </a>
                                </li>

                                <!-- Page Numbers -->
                                @for (int i = Math.Max(1, Model.PagedProducts.CurrentPage - 2);
                                i <= Math.Min(Model.PagedProducts.TotalPages, Model.PagedProducts.CurrentPage + 2); i++)
                                {
                                    <li class="pagination-item">
                                        <a class="pagination-link @(i == Model.PagedProducts.CurrentPage ? "active" : "")"
                                           asp-page="./Shop" asp-route-pageIndex="@(i)">@i</a>
                                    </li>
                                }

                                <!-- Next Button -->
                                <li class="pagination-item @(Model.PagedProducts.CurrentPage == Model.PagedProducts.TotalPages ? "disabled" : "")">
                                    <a class="pagination-link" asp-page="./Shop" asp-route-pageIndex="@(Model.PagedProducts.CurrentPage + 1)">
                                        <i class="ph ph-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>

                        </nav>

                    </div>
                    <div class="col-lg-3">
                        <div class="shop-sidebar">
                            <!-- sidebar search form -->
                            <div class="sidebar-search-form p-xxl-6 p-4 bg-white border n20-1-border radius-16 mb-lg-10 mb-md-8 mb-6">
                                <h5 class="font-otomanopee fw-normal mb-lg-4 mb-2">
                                    <span class="text-primary"><i class="ph-fill ph-paw-print"></i></span>
                                    Search
                                </h5>
                                <form action="#"
                                      class="d-flex align-items-center border n20-1-border radius-8 focus-primary overflow-hidden">
                                    <input type="text" placeholder="Search" name="searchText"
                                           class="w-100 font-instrument border-0 outline-0 p-3">
                                    <button class="btn-primary border-0 text-n0 text-2xl p-3 radius-8">
                                        <span><i class="ph ph-magnifying-glass"></i></span>
                                    </button>
                                </form>
                            </div>

                            <!-- price range filter -->
                            <div class="price-range p-xxl-6 p-4 bg-white border n20-1-border radius-16 mb-lg-10 mb-md-8 mb-6">
                                <h5 class="font-otomanopee fw-normal mb-lg-6 mb-4">
                                    <span class="text-primary"><i class="ph-fill ph-paw-print"></i></span>
                                    Filter by price
                                </h5>
                                <form method="get" class="d-grid gap-lg-5 gap-3">

                                    <div class="range-container">
                                        <div class="range-track">
                                            <span class="slider-range"></span>
                                        </div>
                                        <div class="range-input">
                                            <input type="range" asp-for="MinPrice" class="min" min="0" max="5000000" value="0" step="100000">
                                            <input type="range" asp-for="MaxPrice" class="max" min="0" max="5000000" value="500" step="100000">
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-between gap-2 flex-wrap">
                                        <button class="btn-primary border-0 text-n0 text-xl py-3 px-lg-6 px-4 fw-normal font-instrument">
                                            Filter
                                        </button>
                                        <span class="price-valueƯ text-n20 font-instrument fw-normal">
                                            Price: $
                                            <span class="min-label">@Model.MinPrice</span>
                                            - $
                                            <span class="max-label">@Model.MaxPrice</span>
                                        </span>
                                    </div>
                                </form>
                            </div>

                            <!-- top products list start -->
                            <div class="top-products-list p-xxl-8 p-md-6 p-4 bg-white border n20-1-border radius-16 mb-lg-10 mb-md-8 mb-6">
                                <h5 class="font-otomanopee fw-normal mb-lg-6 mb-4">
                                    <span class="text-primary"><i class="ph-fill ph-paw-print"></i></span>
                                    Top Products
                                </h5>
                                <ul class="d-grid gap-lg-6 gap-4">
                                    <li>
                                        <a href="#"
                                           class="d-flex align-items-center justify-content-between gap-lg-4 gap-2">
                                            <div class="d-grid">
                                                <span class="text-n20 fw-semibold font-instrument hover-text-primary hover-underline">
                                                    Pet Shampoos
                                                </span>
                                                <span class="text-sm text-n10 font-instrument">₹36.00</span>
                                            </div>
                                            <div class="icon-48px radius-unset">
                                                <img class="w-100 radius-4" src="/images/top-product-1.png"
                                                     alt="top products">
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="d-flex align-items-center justify-content-between gap-lg-4 gap-2">
                                            <div class="d-grid">
                                                <span class="text-n20 fw-semibold font-instrument hover-text-primary hover-underline">
                                                    Tick Treatments
                                                </span>
                                                <span class="text-sm text-n10 font-instrument">₹42.00 – ₹45.00</span>
                                            </div>
                                            <div class="icon-48px radius-unset">
                                                <img class="w-100 radius-4" src="/images/top-product-2.png"
                                                     alt="top products">
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="d-flex align-items-center justify-content-between gap-lg-4 gap-2">
                                            <div class="d-grid">
                                                <span class="text-n20 fw-semibold font-instrument hover-text-primary hover-underline">
                                                    First Aid Kits
                                                </span>
                                                <span class="text-sm text-n10 font-instrument">₹36.00</span>
                                            </div>
                                            <div class="icon-48px radius-unset">
                                                <img class="w-100 radius-4" src="/images/top-product-3.png"
                                                     alt="top products">
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="d-flex align-items-center justify-content-between gap-lg-4 gap-2">
                                            <div class="d-grid">
                                                <span class="text-n20 fw-semibold font-instrument hover-text-primary hover-underline">
                                                    Pet Vitamins
                                                </span>
                                                <span class="text-sm text-n10 font-instrument">₹42.00</span>
                                            </div>
                                            <div class="icon-48px radius-unset">
                                                <img class="w-100 radius-4" src="/images/top-product-4.png"
                                                     alt="top products">
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="d-flex align-items-center justify-content-between gap-lg-4 gap-2">
                                            <div class="d-grid">
                                                <span class="text-n20 fw-semibold font-instrument hover-text-primary hover-underline">
                                                    Pet Wipes
                                                </span>
                                                <span class="text-sm text-n10 font-instrument">₹36.00</span>
                                            </div>
                                            <div class="icon-48px radius-unset">
                                                <img class="w-100 radius-4" src="/images/top-product-5.png"
                                                     alt="top products">
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="d-flex align-items-center justify-content-between gap-lg-4 gap-2">
                                            <div class="d-grid">
                                                <span class="text-n20 fw-semibold font-instrument hover-text-primary hover-underline">
                                                    Ear Cleaning
                                                </span>
                                                <span class="text-sm text-n10 font-instrument">$20.00</span>
                                            </div>
                                            <div class="icon-48px radius-unset">
                                                <img class="w-100 radius-4" src="/images/top-product-6.png"
                                                     alt="top products">
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- top products list end -->
                            <!-- Categories list start -->
                            <div class="top-products-list p-xxl-8 p-md-6 p-4 bg-white border n20-1-border radius-16">
                                <h5 class="font-otomanopee fw-normal mb-lg-6 mb-4">
                                    <span class="text-primary"><i class="ph-fill ph-paw-print"></i></span>
                                    Categories
                                </h5>
                                <ul class="d-grid gap-lg-6 gap-4">
                                    <li>
                                        <a href="#"
                                           class="d-flex align-items-center justify-content-between gap-lg-4 gap-2">
                                            <span class="text-n20 fw-medium">Accessories</span>
                                            <span class="text-primary">(4)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="d-flex align-items-center justify-content-between gap-lg-4 gap-2">
                                            <span class="text-n20 fw-medium">Bird Supplies</span>
                                            <span class="text-primary">(1)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="d-flex align-items-center justify-content-between gap-lg-4 gap-2">
                                            <span class="text-n20 fw-medium">Cat Supplies</span>
                                            <span class="text-primary">(1)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="d-flex align-items-center justify-content-between gap-lg-4 gap-2">
                                            <span class="text-n20 fw-medium">Fish Supplies</span>
                                            <span class="text-primary">(7)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="d-flex align-items-center justify-content-between gap-lg-4 gap-2">
                                            <span class="text-n20 fw-medium">Dog Supplies</span>
                                            <span class="text-primary">(10)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="d-flex align-items-center justify-content-between gap-lg-4 gap-2">
                                            <span class="text-n20 fw-medium">Service</span>
                                            <span class="text-primary">(10)</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Categories list end -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--shop section end -->

    </main>
    <!-- main end -->
    <!-- footer -->
    <!-- footer section start -->
    @Html.Partial("PageCommon/PageFooter")
    <!-- footer section end -->
    @section Scripts {
        <script src="~/js/add-to-cart.js" asp-append-version="true"></script>
    }
</body>
